body {
    background-color: #006699;
}

canvas {
    border: 5px solid black;
    background-color: #CCE6FF;
    margin-left: 160px;
}

#sidemenu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #33BBFF;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.inputItem {
    width: 95%;
    border: 1px solid black;
    padding-left: 5px;
    margin-bottom: 10px;
    background-color: #00D5FF;
}

.slider {
    width: 97%; /* Fit nicely inside the slider bar box */
    height: 25px; 
}
